# https://github.com/urbanadventurer/WhatWeb
COMMAND_OF_WHATWEB=cd /opt/app/WhatWeb && bundle exec ruby whatweb

COMMAND_OF_DIG=/usr/bin/dig

# https://github.com/EnableSecurity/wafw00f
COMMAND_OF_WAFW00F=/usr/bin/wafw00f

# https://github.com/EdgeSecurityTeam/EHole
COMMAND_OF_EHOLE=/opt/app/mass_info/third_party_libs/ehole/ehole

COMMAND_OF_NMAP=/usr/bin/nmap

# TODO
# https://github.com/0x727/ShuiZe_0x727
COMMAND_OF_SHUIZE=cd /workspace/coding_tools/shuize && python3 ShuiZe.py

# TODO
# https://github.com/laramies/theHarvester
COMMAND_OF_THEHARVESTER=cd /opt/app/theHarvester && uv run theHarvester

# TODO
# https://github.com/projectdiscovery/nuclei
COMMAND_OF_NUCLEI=nuclei

# TODO
# https://github.com/wappalyzer/wappalyzer
COMMAND_OF_WAPPALYZER=node /workspace/coding_tools/wappalyzer/src/drivers/npm/cli.js

# https://github.com/wpscanteam/wpscan
COMMAND_OF_WPSCAN=wpscan
API_TOKEN_OF_WPSCAN=JyrztKLFjKYaAmPX6??????????

# TODO
COMMAND_OF_HYDRA=hydra

# https://github.com/danielmiessler/SecLists
DICTIONARY_OF_SECLIST=/opt/app/SecLists/

# https://github.com/OJ/gobuster/releases
COMMAND_OF_GOBUSTER=/opt/app/mass_info/third_party_libs/gobuster

FOFA_API_KEY=b7168f800e5a9fd?????????

# favihunter
COMMAND_OF_FAVIHUNTER=cd ./third_party_libs/favihunter && poetry run favihunter
