.DS_Store
.vscode
.idea/
.generators
.rakeTasks
.bundle
.env.*
config/settings.local.yml
config/settings/*.local.yml
log/*
tmp/*
!log/.keep
!tmp/.keep
*.orig
*.swp
*.swo
*.swn
storage/*
!storage/.keep
config/master.key
.vscode/*
coverage/*
data
.env.test.local
.secrets
.env
config/database.yml


/config/master.key
