<h1>new batch servers</h1>
<%= form_tag create_batch_servers_servers_path, method: :post do %>
  names: <%= text_area_tag :names, :"", placeholder: "https://google.com\nhttps://help.google.com\n", class: 'form-control', rows: 20 %></br>
  <%= submit_tag 'new batch servers', class: "form_submit", class: 'btn btn-primary' %>
<% end %>
