<h1>Usage</h1>
<div class='alert alert-info'>
很多时候目标的资产太多了。<br/>
1. 边缘资产是我们应该关注的。<br/>
2. 自动化是我们所追求的。<br/>
<br/>
如何使用：<br/>
<br/>
1. create new project  ( input its websites )<br/>
  - run shuize
2. get all its sub-domain<br/>
3. query by batch:<br/>
  - theharvester<br/>
  - dig<br/>
  - wafw00f<br/>
  - nmap<br/>
  - wappalyzer<br/>
  - ehole<br/>
  - nuclei<br/>
  TODO: 登录后，整站扫描 ( nessus, acunetix, ... )
</div>
