<table class='table table-bordered table-hovered table-striped'>
  <tr>
    <th style="width: 200px;">Server:</th>
    <td><%= link_to ip_mapping.server.try(:name), ip_mapping.server %></td>
  </tr>

  <tr>
    <th>Ip:</th>
    <td><%= link_to ip_mapping.ip.try(:ip), ip_mapping.ip %></td>
  </tr>
</table>
