<table class='table table-bordered table-hovered table-striped'>
  <tr>
    <th style="width: 200px;">Server:</th>
    <td><%= link_to ip_mapping.server.name, ip_mapping.server if ip_mapping.server.present? %></td>
  </tr>

  <tr>
    <th>Ip:</th>
    <td><%= link_to ip_mapping.ip.ip, ip_mapping.ip if ip_mapping.ip.present? %></td>
  </tr>
</table>
