<table class='table table-bordered table-hovered table-striped'>
  <tr>
    <th style="width: 200px;">Server:</th>
    <td><%= ip_mapping.server.try(:name)%></td>
  </tr>

  <tr>
    <th>Ip:</th>
    <td><%= ip_mapping.ip.try(:ip) %></td>
  </tr>
</table>
