<h1>Editing ip_mapping</h1>

<%= render "form", ip_mapping: @ip_mapping %>

<br>

<div>
  <%= link_to "Show this ip_mapping", @ip_mapping %> |
  <%= link_to "Back to ip_mappings", ip_mappings_path %>
</div>
