<div id="<%= dom_id project %>">

  <table class='table table-bordered table-hovered table-striped'>
    <tr>
      <th style="width: 200px;">Name:</th>
      <td><%= project.name %></td>
    </tr>

    <tr>
      <th>Description:</th>
      <td><%= project.description %></td>
    </tr>
  </table>

</div>
