default: &default

  adapter: mysql2
  pool: 3306
  host: 192.168.56.1
  username: root
  password: 666666
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci

development:
  <<: *default
  database: mass_info_gather

test:
  <<: *default
  database: mass_info_gather_test

production:
  <<: *default
  database: mass_info_gather

