default: &default

  adapter: mysql2
  pool: 1000
  #host: 172.18.0.2
  host: 127.0.0.1
  username: root
  password: 123456
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci

development:
  <<: *default
  database: beiersdorf_info_gathering_development

test:
  <<: *default
  database: beiersdorf_info_gathering_test

production:
  <<: *default
  database: beiersdorf_info_gathering_development

