<div id="<%= dom_id config_item %>">
  <p>
    <strong>Name:</strong>
    <%= config_item.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= config_item.value %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= config_item.comment %>
  </p>

</div>
