<h1>Editing config item</h1>

<%= render "form", config_item: @config_item %>

<br>

<div>
  <%= link_to "Show this config item", @config_item %> |
  <%= link_to "Back to config items", config_items_path %>
</div>
