<div id="<%= dom_id project %>">
  <p>
    <strong>Address:</strong>
    <%= email.address %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= email.project_id %>
  </p>

  <p>
    <strong>Server:</strong>
    <%= email.server_id %>
  </p>

</div>
