<table class='table table-bordered table-hovered table-striped'>
  <tr>
    <th style="width: 200px;">Address:</th>
    <td><%= email.address %></td>
  </tr>

  <tr>
    <th>Project:</th>
    <td><%= link_to email.project.name, email.project if email.project.present? %></td>
  </tr>

  <tr>
    <th>Server:</th>
    <td><%= link_to email.server.name, email.server if email.server.present? %></td>
  </tr>
</table>
