<table class='table table-bordered table-hovered table-striped'>
  <tr>
    <th style="width: 200px;">Address:</th>
    <td><%= email.address %></td>
  </tr>

  <tr>
    <th>Project:</th>
    <td><%= link_to email.project.try(:name), email.project %></td>
  </tr>

  <tr>
    <th>Server:</th>
    <td><%= link_to email.server.try(:name), email.server %></td>
  </tr>
</table>
